[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/opt/etc/server.env
Restart=on-failure
ExecStart=/opt/bin/consul agent $OPTIONS -config-dir=/opt/etc/consul.d
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target